<section class="pb_cover_v1 text-left cover-bg-black cover-bg-opacity-4"
  style="background-image: url(assets/images/1900x1200_img_7.jpg)" id="section-home">
  <div class="container">
    <div class="row align-items-center justify-content-end">
      <div class="col-md-6  order-md-1">

        <h2 class="heading mb-3">Scriptorium</h2>
        <div class="sub-heading">
          <p class="mb-5">The Library of your dreams to help yourself delve into the world of books...</p>
          <p>
            <a href="/search" role="button"
              class="btn smoothscroll pb_outline-light btn-xl pb_font-13 p-4 rounded-0 pb_letter-spacing-2">Explore</a>
          </p>
        </div>

      </div>
    </div>
  </div>
</section>