<nav class="navbar navbar-expand-lg navbar-dark pb_navbar pb_scrolled-light scrolled awake" id="pb-navbar">
  <div class="container">
    <a class="navbar-brand" href="/home">SCRIPTORIUM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-navbar"
      aria-controls="probootstrap-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="ion-navicon"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="probootstrap-navbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/advice">Advice</a></li>
        <li class="nav-item"><a class="nav-link" href="/search">Hunt</a></li>
        <li class="nav-item"><a class="nav-link" href="/addbook">Add Book</a></li>
        <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
      </ul>
    </div>
  </div>
</nav>